name: CD Backend (Node.js)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    env:
      PORT: ${{ secrets.PORT }}
      MONGODB_URI: ${{ secrets.MONGODB_URI }}
      MONGODB_DB: ${{ secrets.MONGODB_DB }}
      SECRETKEY: ${{ secrets.SECRETKEY }}
      EXPIRES_IN: ${{ secrets.EXPIRES_IN }}
      EMAIL_USER: ${{ secrets.EMAIL_USER }}
      EMAIL_PASS: ${{ secrets.EMAIL_PASS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.16.0'
          cache: 'npm'

      - name: Instalar dependências
        run: npm ci

      - name: Rodar testes
        run: node server.js & sleep 3 && jest
        # ou: npm run test

      - name: Build (opcional)
        run: npm run build --if-present

      - name: Versioning (simulação)
        run: echo "Versionamento realizado"

      - name: Deploy (simulação)
        if: success()
        run: echo "Deploy do backend realizado"
